p{

        font-size: 25px;
        text-align:justify;
        color:lightpink(84, 13, 69);
        text-decoration:none;
        font-family:'Patrick Hand', cursive;

}
i{
        color:black(28, 61, 61);
        font-size:50px;
}
a{
        font-size:50px;
        color:rgb(55,15,15);
}

